<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
	<parameter name="Browser" value="firefox" />
	<test name="Test on Chrome">
		<classes>
			<class name="arttoframe.Crm_Email.Testbillionaire" />
		</classes>
	</test>
	<test name="Test on Firefox">
		<parameter name="Browser" value="firefox" />
		<classes>
			<class name="arttoframe.Crm_Email.Testbillionaire" />
		</classes>
	</test>
</suite> 

